{% extends 'app/layouts/base.html' %}

{% load static %}

{% block title %}Закладки{% endblock %}

{% block content %}

<div class="bookmarks-container">
    <div class="edit-my-profile-back-btn-and-text">
        <a href="{% url 'main' %}">
            <div class="edit-my-profile-back-btn">
                <i class='bx bx-arrow-back'></i>
            </div>
        </a>
        <div class="edit-my-profile-text">
            Коллекции
        </div>
    </div>

    <div class="bookmarks">
        {% for post in posts %}
        <div class="posts">
            <div class="post">
                <div class="post-profile-photo-name-public-date">
                    <div class="profile-photo-name">
                        <div class="profile-photo">
                            {% if post.profile.photo %}
                                <img class="img-profile-photo" src="{{ post.profile.photo.url }}" alt="{{ post.profile.user.username }}'s profile photo">
                            {% else %}
                                <img style="background: white" class="img-profile-photo" src="{% static 'app/media/icons_for_nav/profile.png' %}" alt="Default profile photo">
                            {% endif %}
                        </div>
                        <div class="profile-name">
                            <a href="{% url 'profile_detail' post.profile.user.id %}">{{ post.profile.user.username }}</a>
                        </div>
                    </div>
                    <div class="post-public-date">
                        {{ post.created_at }}
                    </div>
                </div>
                <div class="post-description">
                    {{ post.description }}
                </div>
                {% if post.photo %}
                <div class="post-photo">
                    <img class="img-post-photo" src="{{ post.photo.url }}" alt="Post photo">
                </div>
                {% endif %}
                <div class="post-options">
                    <div class="post-like-comment-pay">
                        <form method="post" action="{% url 'like_post' post.id %}" class="like-form" id="like-form-{{ post.id }}">
                            {% csrf_token %}
                            <button type="submit" class="post-like {% if request.user in post.likes.all %}liked{% endif %}" id="like-button-{{ post.id }}" title="{% if request.user in post.likes.all %}Убрать лайк{% else %}Поставить лайк{% endif %}">
                                <div class="post-like-img">
                                    <i class="bx bx-heart"></i>
                                </div>
                            </button>
                        </form>
                        <div class="post-comment">
                            <a href="{% url 'post_detail' post.id %}"><i class="bx bx-comment"></i></a>
                        </div>
                        <div class="post-pay">
                            <i class="bx bx-dollar"></i>
                        </div>
                    </div>
                    <div class="post-collection">
                        <form method="post" action="{% url 'toggle_bookmark' post.id %}" class="bookmark-form" id="bookmark-form-{{ post.id }}">
                            {% csrf_token %}
                            <button type="submit" class="bookmark-button" title="{% if post.id in bookmarks %}Убрать из закладок{% else %}Добавить в закладки{% endif %}">
                                <i class="bx bx-bookmark {% if post.id in bookmarks %}bookmarked{% endif %}"></i>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="post-like-count">
                    {{ post.likes.count }} нравится
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
